url.test=url
key.test=key
url.customVision=<SET CORRECT URL>
key.customVision=<SET CORRECT SECRET KEY>
url.customVisionWrong=https://northeurope.api.cognitive.microsoft.com/customvision/v3.0/Prediction/3456fb33-0s9d-4ef6/detect/iterations/Iterationn/
key.customVisionWrong=123123123123123123123123


